    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="copyright text-muted">{{ .Site.Copyright }}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/clean-blog.js"></script>

    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>

</html>
